@font-face {
    font-family: 'OpenDyslexic 3';
    src: url('../fonts/OpenDyslexicThree-Regular.woff2') format('woff2'),
        url('../fonts/OpenDyslexicThree-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

