:root {
    --main-font: 'Noto Sans', sans-serif;
    --header-font: 'Questrial', sans-serif;

    --font-colour: white;

    --dark-grey: #222;
    --lighter-grey: #444;
    --shadow-grey: #666;
    --light-grey: #d8d8d8;
    --near-white: #fcfcfc;
    --blue-focus: #2979ff;
    --dark-red: #a51c1c;
    --lighter-red: #c32020;
}
