#accessabar {
    font-family: var(--main-font);
    background: #d8d8d8;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
    padding: 0.5rem;
    box-shadow: 0 2px 2px #bfbfbf;

    #accessabar-container {
        display: flex;
        background: white;
        padding: 0.25em;
        flex-grow: 1;
    }

    &.hide {
        display: none;
    }
}
