#accessabar {
    font-family: var(--main-font);
    background: var(--light-grey);
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
    padding: 0.5rem;
    box-shadow: 0 2px 2px var(--shadow-grey);

    &.hide {
        display: none;
    }
}
