#accessabar .bar-button {
    margin: 0.15em;
    outline: none;
    border: none;
    background: #222;
    color: white;
    padding: 0.5em;

    &:hover, &:focus {
        background: #444;
        cursor: pointer;
        outline: 2px solid #2979ff;
    }

    &.close {
        background: #a51c1c;

        &:hover, &:focus {
            background: #c32020;
        }
    }
}
