#accessabar #button-area {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    button {
        margin: 0.15em;
        outline: none;
        border: none;
        background: #222;
        color: white;
        padding: 0.5em;

        &:hover {
            background: #444;
            cursor: pointer;
            outline: 2px solid #2979ff;
        }
    }
}
