#accessabar .ab-counter {
    margin: 0.5em 0;
    justify-content: center;
    align-items: center;

    .ab-inc, .ab-dec {
        margin: 0 0.5em;
        padding: 1em;
    }

    .ab-count {
        margin: 0 0.5em;
        font-size: 1.8em;
    }
}
