#accessabar .hide-button-container {
    grid-area: hide-button;
    align-items: flex-start;

    .hide-button {
        background: var(--light-grey);
        padding: 0 0.5em;
        box-shadow: 0 2px 2px var(--shadow-grey);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        color: var(--alt-font-colour);
        margin-left: 0.25rem;

        &:hover, &:focus {
            cursor: pointer;
        }
    }
}
