#accessabar button#hide {
    position: absolute;
    outline: none;
    border: none;
    background: #d8d8d8;
    padding: 0 0.5em;
    left: 0;
    top: calc(100% + 0.5rem);
    box-shadow: 0 2px 2px #888;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &:hover, &:focus {
        cursor: pointer;
    }
}
