#accessabar .hide-button {
    position: absolute;
    outline: none;
    border: none;
    background: var(--light-grey);
    padding: 0 0.5em;
    left: 0;
    top: calc(100% + 0.5rem);
    box-shadow: 0 2px 2px var(--shadow-grey);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--alt-font-colour);

    &:hover, &:focus {
        cursor: pointer;
    }
}
