#accessabar .ab-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
}

#accessabar .ab-logo-text {
    font-family: var(--logo-font);
    font-size: 1.1em;
    color: var(--lighter-grey);
    text-shadow: 1px 1px var(--near-white-purple-saturated);
}
